body {
    background-image: url(../images/background1.jpg);
    text-align: center;
    font-family: Serif, Garamond, Times;
    margin: 0 auto;
}
/* Image from: https://e.huawei.com/se/products/network-management-and-analysis-software */ 

button { 
    color: white;
    font-size: 20px;
    padding: 20px;
    border: none;
    background-color: black;
    border-radius: 6px;
    font-family: Arial;
}

.clickbutton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  opacity: 0.85;
}

.clickbutton:hover {
    opacity: 1;
}

.clickbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#insta{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.hoverbutton{
    transition:all 1.5s ease-in;
}

.hoverbutton:hover { 
    opacity: 0;
    font-size: 60px;
}

#start {
    background-color: green;
}

#control{
    background-color: red;
}

h1, h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
    font-size: 80px;
}

h2{
    font-size: 20px;
}

.row {
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-direction: row;

}

.column {
    flex: 50%;
    padding: 5px;    
}

img{
    position: relative;
    top: 28px;
}

@media (max-width: 810px) {
  img {
   top: 0px;
  }
}
